<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link" href="/">
                <i class="icon-grid menu-icon"></i>
                <span class="menu-title">Dashboard</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="Plant/">
                <i class="icon-paper menu-icon"></i>
                <span class="menu-title">Bitkiler</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
                <i class="icon-head menu-icon"></i>
                <span class="menu-title">Sınıflandırma Tanımları</span>
                <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item"> <a class="nav-link" href="#">Yeni Bitki</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Alem (Kingdom)</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Altalem (Subkingdom)</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Bölüm (Division)</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Sınıf (Class)</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Takım (Order)</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Aile (Family)</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Cins (Genus)</a></li>
                    <li class="nav-item"> <a class="nav-link" href="#">Tür (Species)</a></li>
                </ul>
            </div>
        </li>
    </ul>
</nav>