<!DOCTYPE html>
<html lang="en">

@await Component.InvokeAsync("_HeaderLayoutComponentPartial") 
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        @await Component.InvokeAsync("_NavbarLayoutComponentPartial")
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_settings-panel.html -->
            @await Component.InvokeAsync("_ThemeSettingsLayoutComponentPartial")
            @await Component.InvokeAsync("_RightSidebarLayoutComponentPartial")
            <!-- partial -->
            <!-- partial:partials/_sidebar.html -->
            @await Component.InvokeAsync("_SidebarLayoutComponentPartial")
            <!-- partial -->
            <div class="main-panel">
                <div class="content-wrapper">
                    @RenderBody()
                    @await Component.InvokeAsync("_MainPanelLayoutComponentPartial")
                    <!-- main-panel ends -->
                </div>
            </div>
            <!-- page-body-wrapper ends -->
        </div>
        <!-- container-scroller -->
    </div>
    <!-- content-wrapper ends -->
    <!-- partial:partials/_footer.html -->
    @await Component.InvokeAsync("_FooterLayoutComponentPartial")
    <!-- partial -->
    @await Component.InvokeAsync("_ScriptLayoutComponentPartial")
    <!-- End custom js for this page-->
</body>

</html>

